@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: aliceblue;
  font-family: "Poppins", system-ui;
}

.header {
  margin: 0;
  position: absolute;
  width: 100%;
  opacity: 0.9;
}

.head_b{
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em;
}

.nav_display ul li {
  display: inline;
  text-transform: uppercase;
  margin-right: 20px;
}

.nav_display ul li span {
  margin-left: 5px;
}

@keyframes images_change {
  0% {
    background-image: url('https://images.pexels.com/photos/1164572/pexels-photo-1164572.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  }

  50% {
    background-image: url('https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  }

  100% {
    background-image: url('https://images.pexels.com/photos/1462630/pexels-photo-1462630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  }
}

.icon_display {
  display: none;
}

.nav_display {
  display: block;
}

.s_nav {
  display: none;
  position: absolute;
  background-color: rgb(47, 2, 80, 0.9);
  padding: 20px;
  margin-top: 200px;
}

.s_nav ul li {
  font-size: 2em;
}

@media (max-width: 700px) {
  .icon_display {
    display: block;
  }

  .nav_display {
    display: none;
  }

  .s_nav {
    display: block;
  }
}


#hero_section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: images_change 20s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_section_center {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.hero_section_center h1 {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: "Poppins", system-ui;
}

.hero_section_center p {
  background-color: rgba(6, 32, 32, 0.9);
  font-size: 1.3em;
  padding: 10px;
  margin-bottom: 20px;
}

.cta-button {
  background-color: rgb(8, 104, 104);
  padding: 10px;
  border-radius: 5px;
}

.about {
  width: 100%;
  height: 500px;
}

.read_more{
  padding: 10px;
  border-radius: 5px;
}

.read_more button{
  color: black;
}